@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Public Sans", sans-serif;
  scroll-behavior: smooth;
  background-color: #eff2f5;
}
.slick-slide div:nth-child(1) {
  margin-right: 10px;
}
.slick-next {
  right: -15px;
  background-color: #958c8c !important;
  border-radius: 50%;
}

.slick-next::before {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.44);
  line-height: 1.2;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(to right, red, yellow, green);
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid rgb(0, 0, 0);
  cursor: pointer;
  position: relative;
  top: 15px;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
